.rating-container {
  margin: 0 auto;
  width: 100%;
  max-height: 579px;
  padding: 5px;
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  row-gap: 5px;  

  @media (max-width: 1200px) {
    height: 10rem;
    max-height: 20rem;
  }

  &__record {
    font-size: 14px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;    
    border-radius: 0.25rem;    
    background: white;

    &-header {
      font-weight: bold;
      display: flex;
      position: relative;
      align-items: center;
    }

    &-comment {
      padding: 3px;
      background: white;
      border-radius: 0.25rem;
      font-style: italic;
    }

    &-link {
      margin: auto;
    }

    &-commentarea {
      resize: none;
    }

    &-email {
      margin-left: 5px;
      font-weight: normal;
    }

    &-date {
      opacity: 0.8;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.loader-sm-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
}
