$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

.description {
  color: black;

  & .mini-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  & .card-img-top {
    min-width: 900px;
  }

  & .card {
    overflow: hidden;
  }

  & .flag {
    width: 50px;
    border-radius: 0.25rem;
  }

  & .card-img {
    width: auto;
    height: 32rem;
    object-fit: cover;
    filter: opacity(0.6);

    &-overlay {
      padding: 15px;
      color: black;
    }
  }

  & .card {
    background-color: white !important;
    box-shadow: $shadow;
  }

  & .card:first-of-type {
    max-height: 594px;
  }

  & .card-title {
    text-align: center;
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
  }

  & .card-text:first-of-type {
    font-weight: 500;
    text-align: justify;
  }
}

.widgetes-container {
  position: relative;
  display: flex;
  height: 100%;
}

@media (max-width: 992px) {
  .description {
    & .card:first-of-type {
      height: 376px;
    }
  }
}

@media (max-width: 500px) {
  .widgetes-container {
    justify-content: flex-end;
  }
}
