$shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

.weather {
  position: relative;
  box-shadow: $shadow-sm;
  height: 140px;
  outline: none;
  cursor: default;
  opacity: 0.8;
  display: flex;
  width: 260px;
  background: #fff;
  border-radius: 5px;
  & .error {
    color: red;
  }
  & h4 {
    font-size: 15px;
    margin: 0;
  }
  & h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  &__left {
    width: 60%;
    padding: 10px;
  }
  &__right {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0000001f;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  & p {
    margin: 0;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .weather.minimized {
    width: 50px;
    height: 50px;
    & .weather__left {
      display: none;
    }
    & .weather__right {
      background: none;
      transform: scale(0.6) translate(23px, 0);
      padding: 0;
    }

    cursor: pointer;
    height: 50px;
    h4 {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .weather {
    margin-top: 73px;
  }
}
