$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-inner {
  padding: 15px;
  height: max-content;
  width: 24rem;
  box-shadow: $shadow;
  transition: all 0.5s ease;

  @media (max-width: 576px) {
    width: 18rem;
  }
}

.loader-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.txt-lg {
  font-size: 18px;
}
