.auth-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: #e9e9e9 !important;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 1rem 6rem rgba(34, 35, 58, 0.2);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 15px;
  transition: all 0.3s;

  @media screen and (max-width: 450px) {
    width: 310px;
  }
}

.loader-sm{
  height: 24px;
}

.txt-lg {
  font-size: 18px;
}
