.leaflet-container {
    height: 100%;
    width: 100%;
}

.map-container{
    width: 500px;
    height: 500px;
    margin: 5px auto;
}

.hot-chocolate-icon {
    background: red;
    border-radius: 50%;
}

.fullscreen-btn{
    margin: 10px;
}