header {
  background-color: #007bff;
  color: #fff;
}

main {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
}

footer {
  flex: 0 0 auto;
  background-color: #007bff;
  color: #fff;
}

.container {
  position: relative;
}
