.country-page {
  display: grid;
  grid-gap: 15px;  

  // @media (max-width: 992px) {
  //   .card-columns {
  //     column-count: 2;
  //   }
  // }

  // @media (max-width: 768px) {
  //   .card-columns {
  //     column-count: 2;
  //   }
  // }

  // @media (max-width: 576px) {
  //   .card-columns {
  //     column-count: 1;
  //   }
  // }
}
