.header {
  padding: 15px;
  display: flex;
  align-items: center;

  &__logo {
    margin: 0;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }

    &-span {
      font-weight: bold;
    }
  }

  &__language {
    margin-left: auto;
    width: max-content;
    text-transform: uppercase;
    font-weight: bold;

    & option {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}