@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
$shadow: 0 .5rem 1rem rgba(0,0,0,.15);


.img-gallery {
  max-width: 800px;

  @media (max-width: 1200px) {
    max-width: inherit;
  }

  @media (max-width: 768px) {
    max-width: inherit;
  }
}

.card-row {
  flex-direction: row;
  overflow: hidden;
  box-shadow: $shadow;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    margin: auto;
  }
}
