.footer {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  & .authors {
    margin: auto 0;
  }
  & .logo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  .footer {
    & .nav {
      flex-direction: column;
    }
    & .nav-link {
      padding: 0;
    }
  }
}
