$shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);

.currency {
  box-shadow: $shadow-sm;
  position: absolute;
  bottom: 0;
  cursor: default;
  outline: none;
  background: #fafafac9;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  & p {
    margin: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
  }
  & h5 {
    margin-bottom: 0.5rem;
  }
}

.error {
  color: rgb(107, 24, 24);
}

@media (max-width: 992px) {
  .minimized {
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
    & h5 {

      line-height: 1.8;
      text-align: center;
      margin-top: -108px;
    }
    & .loader {
      transform: scale(0.5) translate(-20px, -40px);
      display: block;
      height: 5rem;
    }
    & .currency__item {
      display: none;
    }
  }
}
