.currency {
  background: #ffffffa1;
  border-radius: 5px;
  padding: 5px;
  float: right;
  margin: 1%;
  max-width: 40%;
  & p {
    margin: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
  }
}

.error {
  color: rgb(107, 24, 24);
}
