.leaflet-container {
    height: 100%;
    width: 100%;
}

.map-container{
    width: 500px;
    height: 500px;
    margin: 5px;
    position: relative;
}

.fullscreen-btn{
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
